body {
  background-color: lightgray;
}

#buttonContain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#container {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gameButtons {
  padding: 10px;
}

.board {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  width: 45vmax;
  margin: 1.5vmax;
}

.cell {
  background-color: lightcyan;
  height: 4vmax;
  width: 4vmax;
  border: 2px solid lightblue;
  box-sizing: border-box;
}

.cell:hover {
  background-color: lightcoral;
}

.ylabel {
  display: flex;
  background-color: lightgray;
  height: 4vmax;
  width: 4vmax;
  border: 2px solid gray;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.shotMissed {
  background-color: blue;
}

.shotHit {
  background-color: darkred;
}

footer {
  background-color: gray;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
  color: white;
  text-align: center;
}

#footer a:link {
  color: lightblue;
}

#footer a:visited {
  color: salmon;
}